#find-character {
    background-color: lightseagreen;
    font-size: 22px;
    font-family: cursive;
    color: blanchedalmond;
    
}

h2 {
    color: blue;
    
}
h4 {
    color: blue;
}

button {
    background: violet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}

#images {
    display:flex;
    flex-wrap: wrap;
}

#character-input {
    background: lightseagreen;
}
